@import 'src/styles.scss';

$icon-size: calculate-rem(32px);
$card-padding: 23.02px 0 0 20px;
$card-max-width-height: 200px;

$title-font-weight: 700;
$title-font-size: calculate-rem(24px);

$image-hover-transition: 0.25s all ease-in-out;
