//.card-bg{
//  height: 500px;
//  width: 100%;
//  background-color: #D9D9D9;
//}
@media (max-width: 767px) {
  .row {
    margin-bottom: 20px; /* Adjust the gap as needed */
  }

  .col-sm-12 {
    margin-bottom: 40px; /* Adjust the gap as needed */
  }

  .col-md-6{
    margin-bottom: 40px; /* Adjust the gap as needed */
  }
}
